---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Contact - Aether Lens</title>
  </head>
  <body>
    <h1>Contact Page</h1>
    <form>
      <label>Name: <input type="text" name="name" /></label>
      <button type="submit">Send</button>
    </form>
    <a href="/">Back to Home</a>
  </body>
</html>
