---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blog Post - Aether Lens</title>
  </head>
  <body>
    <h1>First Blog Post</h1>
    <article>
      <p>Content of the first blog post.</p>
    </article>
    <a href="/">Back to Home</a>
  </body>
</html>
